In [1]:
phrase = "{2}{3}{condition}{0}".format(condition)

NameError: name 'condition' is not defined

In [15]:
main = 2000
total = "4,123.45"
profit = 11
duration = 5

print("If we had bought ${} crypto coins at the weekend, we would have ${} with a profit share of {}% after {} days.".format(
    main, total, profit, duration))

If we had bought $2000 crypto coins at the weekend, we would have $4,123.45 with a profit share of 11% after 5 days.

In [17]:
sample = f"{2**3}"
print(sample)

8

In [21]:
name = "mariam"
x= f"My name is {name.capitalize()}."
print(x)

My name is Mariam.

In [29]:
x = "aaaaaaaaaaaaj221313"
print(x.endswith("j",4,13))

True

In [30]:
char = "kaolan"

char.replace("o", "p")

'kaplan'

In [33]:
"a-h-me-t".replace("-", "", 2)

'ahme-t'

In [ ]:
{0}
or
and
[]
False

In [35]:
{0} and False or []

[]

In [36]:
float("140" * int(input("Enter a number:" )))

Enter a number:2

140140.0

In [38]:
print(int("5" + "1"))
print(str("5" + "1"))
print("5" + "1")

51
51
51

In [42]:
city = "SARAJEVO"
text = f"I live in {city.capitalize()}."
print(text)

I live in Sarajevo.

In [52]:
def x(minutes):
    
    return minutes*60

In [55]:
x(5)

300

In [17]:
#text = "tyou yinteroperabilty classz".strip("zt").upper()
text = "tyou yinteroperabilty classz".lstrip("t").rstrip("z").upper()
print(text)

YOU YINTEROPERABILTY CLASS

In [20]:
text = "in god wee trust"
#print(text.replace("ee","e"))
text1 = text[:9]
text2 = text[10:]
print(text1+text2)

in god we trust

In [29]:
at = "at"
print("at")
print(*["at"]*2, sep="-")

at
at-at

In [30]:
at += " inek"
print(at)

at inek

In [31]:
a = 3
b = 4

print("{} + {}'nin toplami {}".format(a, b, a + b))

3 + 4'nin toplami 7

In [32]:
text = "{:.2f},{:.2f},{:.2f}".format(3.134, 5.367, 7.23524)
text

'3.13,5.37,7.24'

text = "{:.3s}--{:.4s}--{:.4s}".format("alis","velis","delis")
text

In [39]:
text_1= "{:>30}".format("Alijandro")
text_1

'                     Alijandro'

In [40]:
text_2= "{:<30}".format("Alijandro")
text_2

'Alijandro                     '

In [41]:
text_3= "Ali baba {:>30} haramiler".format("Alijandro")
text_3

'Ali baba                      Alijandro haramiler'

In [ ]:
text_4= "Ali baba {:sapka isareti 30} haramiler".format("Alijandro")
text_4       #sapka isareti ile ortalar isareti bulamadim

Listeler

In [1]:
aa = [1,2,3,4,5]
aa[2] = 0
aa

[1, 2, 0, 4, 5]

In [2]:
aa[2:] = "ahmet"
aa

[1, 2, 'a', 'h', 'm', 'e', 't']

In [3]:
aa[2:] = 5

TypeError: can only assign an iterable

In [8]:
kardiz = "ahmet"
kardiz =list(kardiz)
kardiz

['a', 'h', 'm', 'e', 't']

In [9]:
char = "2020's hard"
list(char)

['2', '0', '2', '0', "'", 's', ' ', 'h', 'a', 'r', 'd']

In [10]:
char_1 = [char]
char_1

["2020's hard"]

In [11]:
numbers = [1,4,7]
numbers.insert(2,9)  #2 index 9 girecek sayi
numbers

[1, 4, 9, 7]

In [12]:
numbers.insert(2,6)
numbers

[1, 4, 6, 9, 7]

In [13]:
list = [1, 2, 3, 4]
list.insert(4, 5)
list

[1, 2, 3, 4, 5]

In [15]:
list2 = [1,2,3]
list2.remove(2)
list2

[1, 3]

In [17]:
list3 = ["2","3","4","2"]
list3.remove("2")
list3                        #ilk rastladigini siler

['3', '4', '2']

alfabetikse alfabetik, sayisysabuyukluge gore, herhangi bir karakterse ascii'ye gore. SORT. Farlki veri yapilatini siralayamaz, erro verir. int ile str olmaz mesela.

In [19]:
list.sort(reverse=True)
list

[5, 4, 3, 2, 1]

# indexing a list

indexlemede verinin tipi neyse ciktisida o olur.str ise str, float ise float.
Nested list ici ice liste demek.

In [25]:
nummers = list(range(1,11))
nummers

TypeError: 'range' object is not callable

In [ ]:
#list[:] tum listeyi verir.

In [26]:
animals = [1,2,3,4,5,6]
animals[::2]

[1, 3, 5]

In [28]:
mix_list = [1, [1,"one", 2, "two", 3, "three"], 4]

#mix_list[1][1:6:2]
mix_list[1][1::2]

['one', 'two', 'three']

In [ ]:
# stebi eksi girersek tersten sagdan sola siralar, [:-3] bastan baslar -3 e kadar gider -3'u almaz.[::-1] listeyi tersten 
#siralar. [::-2] sondan iki iki atlaya atalaya gider. [1::-1] cesitli degerlerle dene.